<!DOCTYPE html>
{# <!--give our html access to our css--> #}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
{# <!-- our html --> #}
{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{# <!--This is in reference to <li> in for loop. Jinja cannot ignore comments in these areas as it can get confused. -->
<!--slightly hard coded and can make it hard to find or change urls in the future-->
<!-- <li><a href="/polls/{{ question.id }}/">{{ question/question_text }}</a></li> -->
<!--finds url based off urls.py in which you can change the url name in--> #}
